
:global .form-item
  overflow hidden
  margin-bottom 16px
  display flex
  align-items center

  .form-label
    display inline-block
    font-weight bold
    color var(--white-700)
    margin-right 12px
    // text-align right
    line-height 36px
    min-width 60px

    & > span
      color var(--red-900)
      margin-right 4px

  .form-content
    display inline-block
    flex 1
    color var(--white-900)
