{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint/eslint-plugin"],
  "extends": ["alloy", "alloy/react", "alloy/typescript","eslint:recommended", "prettier"],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/prefer-optional-chain": "off",
    "@typescript-eslint/no-duplicate-imports": "off",
    "no-param-reassign": 0,
    "react/no-unstable-nested-components": "off",
    "@typescript-eslint/no-require-imports": "off",
    "react/self-closing-comp": 0,
    "@typescript-eslint/method-signature-style": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "no-extra-boolean-cast": 0,
    "no-debugger": 1,
    "no-console": 1,
    "no-undef": 0
  }
}
