.wrapper
  margin-bottom 8px
  .title
    padding 14px 0px
    color var(--light-type-800)
    font-weight 600
    font-size 14px
    line-height 20px
  .content
    padding 16px
    background var(--light-bg-100)
    box-shadow var(--light-container-c100)
    border-radius 4px


