.table_op_btn
  padding 6px 8px
  margin-right 4px
  display inline-block
  cursor pointer
  font-size var(--font-size-norma)
  &:hover
    background rgba(15, 34, 67, 0.07)
    border-radius 8px
  .btn_icon
    margin-right 4px
