.btn
  padding 8px 12px
  border-radius 8px
  color var(--light-primary-900)
  font-size var(--font-size-normal)
  display inline-block
  cursor pointer
  margin-left 8px

  &:hover
    background var(--light-primary-a100)
