input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active
  transition-delay 9999999999999s
  transition color 9999999999999s ease-out, background-color 9999999999999s ease-out

::-webkit-scrollbar-button
  display none
  width 0
  height 0

::-webkit-scrollbar-corner
  background-color transparent

::-webkit-scrollbar
  width 6px
  height 6px

::-webkit-scrollbar-track
  border-radius 4px

::-webkit-scrollbar-thumb
  border-radius 4px
  // background-color rgba(22, 36, 85, 0.5)
  background-color rgba(107, 132, 198, 0.16)

ellipsis_num(line)
  display -webkit-box
  -webkit-line-clamp line
  -webkit-box-orient vertical
  overflow hidden

.text-ellipsis
  white-space nowrap
  text-overflow ellipsis
  overflow hidden

.app
  width 100%
  height 100vh
  color var(--type-800)

  h1, h2, h3, h4, h5, h6
    color var(--type-800)