
:global
  .hz-dark-antd
    font-size var(--font-size-normal)

    /* button */
    .ant-btn, .upload
      color var(--white-800)
      font-size var(--font-size-medium)
      font-weight bold
      border none
      padding 4px
      z-index 0
      position relative
      height auto
      border-radius 8px
      background transparent

      &[disabled]
        opacity 0.4
        background none !important
        color var(--white-800) !important

        & > span:before, & > span:after
          background none !important

      &.ant-btn-lg
        & > span
          padding 6px 15px

      &.ant-btn-primary
        & > span
          background var(--primary-800)

        &:hover, &:active, &.active
          & > span:before
            background radial-gradient(98.13% 189.87% at 1.87% 3.75%, #0BF3FC 0%, #158CB9 33.51%, #15B1BC 100%)

      &.text
        &:hover, &:active, &.active
          background none

          & > span:before
            background var(--primary-a400)

        & > span
          background none

      &.outline
        &:hover, &:active, &.active
          background none

          & > span:before
            background var(--primary-800)

        & > span
          background var(--bg-200)
          padding-right 34px

          &:before
            background var(--primary-a300)

        & > i
          display inline-block
          width 12px
          height 6px
          bg-contain('~src/assets/drop-arrow-primary.svg')
          position absolute
          right 10px
          top 50%
          transform translateY(-3px)

      &.upload
        &:hover, &:active, &.active
          background none

          & > span:before
            background var(--primary-800)

        & > span
          background var(--bg-200)
          padding-left 34px

          &:before
            background var(--primary-a300)

        & > i
          display inline-block
          width 20px
          height 20px
          bg-contain('~src/assets/upload-icon.svg')
          position absolute
          left 10px
          top 50%
          transform translateY(-10px)
          z-index 1

          &.edit
            bg-contain('~src/assets/rule-add.svg')

          &.close
            bg-contain('~src/assets/info_cancel.svg')

          &.save
            bg-contain('~src/assets/info_ok.svg')

      & > span
        display inline-block
        width 100%
        font-size var(--font-size-medium)
        padding 4px 15px
        // background var(--primary-a300)
        background radial-gradient(100% 288.26% at 0% 0%, #106085 0%, #09476A 100%)
        border-radius 6px
        position relative
        border none
        outline none
        cursor pointer

        &:before
          content ''
          position absolute
          top -2px
          bottom -2px
          left -2px
          right -2px
          border-radius 8px
          z-index -1

        &:after
          content ''
          position absolute
          top -2px
          bottom -2px
          left -2px
          right -2px
          background-blend-mode overlay
          border-radius 8px

      &:hover, &:active, &.active
        color var(--white-900)
        background radial-gradient(94.86% 145.65% at 1.87% 3.75%, #1890D3 0%, rgba(21, 128, 187, 0) 11.62%), radial-gradient(94.39% 144.93% at 2.34% 5%, #1580BB 0%, rgba(21, 128, 187, 0) 30.39%)

        // & > span:before
        // background radial-gradient(98.13% 189.87% at 1.87% 3.75%, #0BF3FC 0%, #158CB9 33.51%, #15B1BC 100%)
        & > span:before
          background radial-gradient(94.25% 182.07% at 1.87% 3.75%, #0BF3FC 0%, #158CB9 19.76%, #0F6890 37.45%, #09476A 100%)

      &.active, &:active
        & > span:after
          background var(--white-500)

    /* table */
    .ant-table-fixed-header > .ant-table-content > .ant-table-scroll > .ant-table-body
      background transparent

    .ant-table-small
      border none

    .ant-table
      .ant-table-thead > tr, .ant-table-tbody > tr
        background var(--mono-100)

        & > th, & > td
          border-bottom 4px solid var(--bg-100)

        & > th:first-child, & > td:first-child
          border-top-left-radius 8px
          border-bottom-left-radius 10px

        & > th:last-child, & > td:last-child
          border-top-right-radius 8px
          border-bottom-right-radius 10px

      .ant-table-header
        background transparent
        overflow hidden !important
        margin-bottom 0 !important

      .ant-table-thead > tr > th
        background transparent
        color var(--white-700) !important
        font-size var(--font-size-medium) !important
        padding 6px 16px

      .ant-table-tbody
        & > tr.ant-table-row-selected
          background var(--primary-800)

          & > td
            background transparent

      .ant-table-tbody > tr > td
        color var(--white-900)

      .ant-table-tbody > tr:hover
        background var(--mono-200)

        &>td
          background transparent

      .ant-table-placeholder
        background var(--mono-100)
        border-top 1px solid var(--mono-100)
        border-bottom 1px solid var(--mono-100)

    .ant-badge-count, .ant-badge-dot
      background var(--bg-500)
      box-shadow none

    /* 进度条 */
    .ant-steps
      .ant-steps-item-finish .ant-steps-item-icon
        background-color transparent
        border-color var(--primary-900)

      .ant-steps-item-finish .anticon
        color var(--primary-900)

      .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title
        color var(--white-800)

      .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description
        color var(--white-700)

      .ant-steps-item-process .ant-steps-item-icon
        border-color var(--primary-900)
        background var(--primary-900)

      .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title
        color var(--white-900)

      .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description
        color var(--white-800)

      .ant-steps-item-wait .ant-steps-item-icon
        background-color transparent
        border-color var(--mono-300)

        .ant-steps-icon
          color var(--mono-300)

      .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title
        color var(--white-700)

      .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description
        color var(--white-700)

      .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title::after
        background-color var(--white-600)

      .ant-steps-item-error > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title
        color var(--red-900)

    /* 树 */
    .ant-tree.ant-tree-directory > li span.ant-tree-node-content-wrapper:hover::before, .ant-tree.ant-tree-directory .ant-tree-child-tree > li span.ant-tree-node-content-wrapper:hover::before
      background var(--bg-400)

    .ant-tree li
      .ant-tree-node-content-wrapper
        font-size var(--font-size-normal)
        color var(--white-900)
        padding 0 12px

        &:hover, &.ant-tree-node-selected
          background var(--mono-200)

    /* 穿梭框 */
    .ant-transfer
      .ant-tree-checkbox-inner
        background-color transparent

      .ant-tree li .ant-tree-node-content-wrapper
        line-height initial

      .ant-tree-child-tree
        margin-left 24px

      .ant-tree-checkbox-checked .ant-tree-checkbox-inner
        background-color var(--primary-800)

      .ant-tree-checkbox-disabled .ant-tree-checkbox-inner
        background-color var(--bg-100)

      .ant-transfer-list
        background var(--bg-400)
        border 0

        .ant-transfer-list-header
          // background var(--bg-400)
          background transparent
          border-bottom 1px solid var(--mono400)
          color var(--white-800)

        .ant-transfer-list-content-item
          color var(--white-800)

          &:hover
            background var(--bg-500)

          .ant-checkbox .ant-checkbox-inner
            border-color var(--mono-300) !important

        .ant-transfer-list-content-item-disabled
          color var(--white-600)

          .ant-checkbox-disabled .ant-checkbox-inner
            border-color var(--white-600) !important

        .ant-transfer-list-content::-webkit-scrollbar-track
          border 0

    /* tag标签 */
    .ant-tag
      border 1px solid var(--mono-400)
      background transparent
      color var(--white-800)
      font-size var(--font-size-normal)
      height 26px
      line-height 26px
      font-weight bold

      &.ant-tag-red
        color var(--red-900)
        border 1px solid var(--red-900)
        background var(--red-a300)

      &.ant-tag-orange
        color var(--orange-900)
        border 1px solid var(--orange-900)
        background var(--orange-a300)

      &.ant-tag-green
        color var(--green-900)
        border 1px solid var(--green-900)
        background var(--green-a300)

      &.ant-tag-yellow
        color var(--yellow-900)
        border 1px solid var(--yellow-900)
        background var(--yellow-a300)

      &.ant-tag-purple
        color var(--purple-900)
        border 1px solid var(--purple-900)
        background var(--purple-a300)

      &.ant-tag-blue
        color var(--primary-900)
        border 1px solid var(--primary-900)
        background var(--primary-a200)

      // &:hover
      // border 1px solid var(--primary-900)

      // &:active
      // border 1px solid #478BFF
      .anticon-close
        color var(--white-800)

      &.small-tag
        line-height 20px
        height 20px

      &.solid-tag
        background var(--primary-a100)
        border 1px solid transparent
        border-radius 16px
        line-height 28px
        height 28px

        &.small-tag
          line-height 22px
          height 22px

        &:hover
          background var(--primary-a200)
          color var(--primary-900)

        &:active, &.active
          background var(--primary-a200)
          color var(--primary-900)
          border 1px solid var(--primary-900)

    /* 输入框 */
    .has-error
      .ant-input, .ant-select, .ant-input-number
        border-bottom 1px solid var(--red-a200)
        // box-shadow inset 0px -1px 0px var(--red-400)
        color var(--red-900)
        background var(--red-a300)

        &:hover
          background var(--red-a300)

        &:focus
          background var(--red-a300)
          box-shadow none

      .ant-select-open
        &:hover
          box-shadow none

      .ant-select .ant-select-selection .ant-select-arrow
        bg-contain('~src/assets/drop-arrow-error.svg')

    .ant-input-affix-wrapper
      font-size 16px

    .ant-input-number-handler-wrap
      border-left 1px solid var(--mono-400)

    .ant-input-number-handler-down
      border-top 1px solid var(--mono-400)

    .ant-mentions
      background-color var(--primary-a100)
      border none

    .ant-input, .ant-input-number, .ant-mentions > textarea
      background var(--primary-a100)
      border none
      font-size var(--font-size-normal)
      border-radius 4px 4px 0px 0px
      box-shadow inset 0px -1px 0px var(--mono-400)
      color var(--white-900)

      // border-bottom: 1px solid var(--bg-400);
      &:hover
        background var(--primary-a200)

      &:focus
        background var(--primary-a200)
        box-shadow inset 0px -2px 0px var(--primary-900)

    .ant-input-number-handler-wrap
      background transparent

    .ant-select-open
      background var(--bg-400)
      box-shadow inset 0px -2px 0px var(--primary-900)

      &:hover
        background var(--bg-400)
        box-shadow inset 0px -2px 0px var(--primary-900)

      .ant-select-arrow
        transform rotate(180deg)

    .ant-input-disabled, .ant-select-disabled, .ant-input-number-disabled
      opacity 0.5
      border-radius 4px 4px 0px 0px
      color var(--white-800)

      &:hover, &:focus
        opacity 0.5
        box-shadow none

    .ant-input-search-icon
      color var(--white-700)

    .ant-select .ant-select-selection
      border none
      background var(--primary-a100)
      height 36px
      line-height 36px

      .ant-select-arrow
        color var(--white-700)
        bg-contain('~src/assets/drop-arrow.svg')
        transition 0.5s

        .anticon-down
          opacity 0

    .ant-select-selection__rendered
      line-height 36px
      color var(--white-800)

    .ant-select-selection--multiple
      .ant-select-selection__choice
        color var(--white-800)
        background var(--bg-300)
        border 1px solid var(--mono-400)

      .ant-select-selection__choice__remove
        color var(--white-700)

    .ant-tabs
      color var(--white-700)

      .ant-tabs-bar
        border 0

      .ant-tabs-nav
        font-size 14px
        font-weight 600

        .ant-tabs-tab
          padding 14px 24px

          .anticon
            font-size 16px

      .ant-tabs-nav .ant-tabs-tab-active
        color var(--primary-900)

      .ant-tabs-ink-bar
        background-color var(--primary-900)
        border-radius 2px 2px 0px 0px

    .ant-tabs.tabs-dense
      .ant-tabs-nav
        font-size 12px

        .ant-tabs-tab
          padding 6px 16px

    .ant-tabs.large
      .ant-tabs-ink-bar
        left 30px
        width 16px !important

    .ant-tabs.dot
      .ant-tabs-ink-bar
        left 32px
        width 7px !important

    .ant-pagination
      color var(--white-800)

      .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next
        height 36px
        min-width 36px
        line-height 36px
        color var(--white-800)
        background transparent

        .ant-pagination-item-link
          color var(--white-800)
          background transparent
          border none
          position relative

          .anticon
            display inline-block
            bg-contain('~src/assets/drop-arrow-primary.svg')
            width 12px
            height 6px
            position absolute
            left 50%
            top 50%

            &.anticon-left
              transform translate(-50%, -50%) rotate(90deg)

            &.anticon-right
              transform translate(-50%, -50%) rotate(-90deg)

            & > svg
              opacity 0

        a
          color var(--white-800)

      .ant-pagination-item, .ant-pagination-next, .ant-pagination-prev
        border 2px solid var(--mono-400)

        &.ant-pagination-item-active
          color var(--white-900)
          font-weight bold
          background var(--primary-800)

        &:hover
          background var(--primary-a200)

      .ant-pagination-item-ellipsis
        color var(--white-800)

      .ant-pagination-options-quick-jumper input
        background var(--primary-a100)
        border-radius 4px 4px 0px 0px
        border 0
        border-bottom 1px solid var(--mono-400)
        color var(--white-700)

        &:hover, &:active, &:focus
          border 0
          border-bottom 1px solid var(--mono-400)

      .ant-select-selection .ant-select-arrow
        bg-contain('~src/assets/drop-arrow-primary.svg')

      .ant-select-dropdown
        background var(--bg-400)

    .ant-cascader-picker
      color var(--white-800)
      background transparent

      .ant-cascader-picker-clear
        background transparent

      .ant-cascader-picker-arrow
        color var(--white-700)

    .ant-pagination.dense
      .ant-pagination-prev, .ant-pagination-next
        .anticon
          // vertical-align unset

      .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next
        height 32px
        min-width 32px
        line-height 32px
        margin-right 6px

      .ant-pagination-item
        // border 1px solid var(--mono-400)

    .ant-switch
      height 10px
      min-width 24px
      background var(--mono-a500)

      &:after
        width 14px
        height 14px
        border-radius 50%
        background var(--white-900)
        // margin-top -2px
        top -3px

    .ant-switch.ant-switch-checked
      background var(--bg-500)

      &:after
        background-color var(--primary-900)
        // margin-top -2px

    .ant-checkbox-wrapper, .ant-radio-wrapper
      color var(--white-900)

    .ant-checkbox-checked .ant-checkbox-inner, .ant-tree-checkbox-checked .ant-tree-checkbox-inner
      background var(--primary-800)
      // background-color transparent
      border-color transparent

    .ant-checkbox-inner, .ant-tree-checkbox-inner
      border 1px solid var(--mono-300)
      border-radius 3px
      // background var(--bg-100)
      background-color transparent

      &:after
        border-color var(--white-900)

    .ant-checkbox
      &:before
        content ''
        position absolute
        // background var(--primary-800)
        top -1px
        bottom -1px
        left -1px
        right -1px
        border-radius 4px
        background transparent

    .ant-radio-inner
      background transparent
      border-color var(--mono-300)

      &:after
        background-color var(--primary-900)

    // 起止结束日期
    .ant-time-picker-panel-input-wrap
      border-bottom 1px solid var(--mono-400)

    .ant-time-picker-panel-inner
      background var(--bg-400)

    li.ant-time-picker-panel-select-option-selected
      color var(--white-800)
      background var(--bg-300)

    .ant-time-picker-panel-select
      border-left 1px solid var(--mono-400)

    .ant-time-picker-panel-select li
      color var(--white-800)

      &:hover
        background var(--bg-500)

    .ant-scroll-number-only > p
      font-size var(--font-size-small)

    .ant-upload
      color var(--white-800)

    .ant-input-group-addon
      border none

    .ant-input-group-addon .ant-select-selection
      height 34px !important
      line-height 34px !important

    .ant-input-group-addon .ant-select-selection__rendered
      height 32px !important
      line-height 32px !important

    .ant-modal-mask
      background-color rgba(0, 0, 0, 0.65)

    li.ant-select-tree-treenode-disabled > span:not(.ant-select-tree-switcher), li.ant-select-tree-treenode-disabled > .ant-select-tree-node-content-wrapper, li.ant-select-tree-treenode-disabled > .ant-select-tree-node-content-wrapper span
      color #FFF

  /* ------------------- 全局 ---------------------------------------- */
  .ant-modal-content
    background-color var(--bg-400)
    color var(--white-700)
    border-radius 16px
    box-shadow 0px 48px 128px -16px rgba(4, 8, 16, 0.64), 0px 16px 64px -16px rgba(4, 8, 16, 0.72), 0px 0px 1px rgba(4, 8, 16, 0.32)

    .anticon-close
      color var(--primary-900)

    .ant-modal-header
      background-color var(--bg-400)
      border-bottom 0

      .ant-modal-title
        color var(--white-900)
        font-size var(--font-size-large)

    .ant-modal-body
      border-radius 8px
      margin 10px 32px
      padding 0

    .ant-modal-footer, .ant-modal-confirm-btns
      border-top none

      .ant-btn
        border 0
        background transparent
        color var(--white-700)
        border-radius 8px

        &:hover
          color var(--white-900)

      .ant-btn-primary
        // background var(--primary-a300)
        color var(--white-800)

      .ant-btn-danger
        color var(--red-900)
        background transparent

    .ant-modal-confirm-body
      .ant-modal-confirm-title
        color var(--white-800)

      .ant-modal-confirm-content
        color var(--white-800)

  .ant-cascader-menus
    background var(--bg-400)

  .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled)
    background var(--mono-100)
    color var(--primary-900)

  .ant-cascader-menu
    border-right 1px solid var(--bg-400)
    color var(--white-900)

    .ant-cascader-menu-item:hover
      background var(--mono-200)
      color var(--white-800)

    .ant-cascader-menu-item-expand-icon
      color var(--white-700)

  .ant-tooltip
    max-width 200px

    .ant-tooltip-inner
      border-radius 8px
      font-size 12px
      background var(--bg-200)
      color var(--white-800)
      box-shadow 0px 0px 1px rgba(15, 34, 67, 0.2), 0px 1px 3px rgba(15, 34, 67, 0.12), 0px 4px 8px rgba(15, 34, 67, 0.06), 0px 8px 16px rgba(15, 34, 67, 0.06)

    .ant-tooltip-arrow::before
      background var(--bg-200)

  // 日期选择器中间的~
  .ant-calendar
    background-color var(--bg-400)
    border 0

    .ant-calendar-header
      border-bottom 1px solid var(--mono-300)

    .ant-calendar-footer
      border-top 1px solid var(--mono-300)

    .ant-calendar-input
      background-color var(--bg-400)
      color var(--white-900)

    .ant-calendar-date
      &:hover
        background var(--primary-900)

    .ant-calendar-date, .ant-calendar-body
      color var(--white-800)

    .ant-calendar-header .ant-calendar-century-select, .ant-calendar-header .ant-calendar-decade-select, .ant-calendar-header .ant-calendar-year-select, .ant-calendar-header .ant-calendar-month-select
      color var(--white-800)

    .ant-calendar-current-week
      .ant-calendar-today
        .ant-calendar-date
          color var(--white-800)
          border-radius 8px
          border 1px solid var(--primary-900)

    .ant-calendar-input-wrap
      height 34px
      padding 6px 10px
      border-bottom 1px solid var(--white-500)

  .ant-calendar-range .ant-calendar-body, .ant-calendar-range .ant-calendar-month-panel-body, .ant-calendar-range .ant-calendar-year-panel-body, .ant-calendar-range .ant-calendar-decade-panel-body
    border-top 1px solid var(--white-500)

  .ant-calendar-last-month-cell .ant-calendar-date, .ant-calendar-next-month-btn-day .ant-calendar-date, .ant-calendar-last-month-cell .ant-calendar-date:hover, .ant-calendar-next-month-btn-day .ant-calendar-date:hover
    color var(--white-600)
    background transparent
    border-color transparent

  .ant-calendar-column-header
    color var(--white-600)

  .ant-calendar-range .ant-calendar-input, .ant-calendar-range .ant-calendar-time-picker-input
    color var(--white-800)

    &::-webkit-input-placeholder /* WebKit browsers */
      color var(--mono-300)

    &::-moz-placeholder /* Mozilla Firefox 19+ */
      color var(--mono-300)

    &:-ms-input-placeholder /* Internet Explorer 10+ */
      color var(--mono-300)

  .ant-calendar-range .ant-calendar-selected-start-date .ant-calendar-date, .ant-calendar-range .ant-calendar-selected-end-date .ant-calendar-date
    background var(--primary-900)
    border-radius 8rpx
    color var(--white-900)

  .ant-calendar-range .ant-calendar-in-range-cell::before
    background rgba(36, 121, 255, 0.3)

  .ant-calendar-year-panel-year
    color var(--white-800)

    &:hover
      background var(--primary-900)
      color var(--white-900)

  .ant-calendar-year-panel
    background var(--bg-400)

    .ant-calendar-year-panel-selected-cell .ant-calendar-year-panel-year
      background var(--primary-900)
      border-radius 8px
      color var(--white-900)

    .ant-calendar-year-panel-last-decade-cell .ant-calendar-year-panel-year, .ant-calendar-year-panel-next-decade-cell .ant-calendar-year-panel-year
      color var(--mono-300)

  .ant-calendar-year-panel-header .ant-calendar-year-panel-century-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-decade-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-year-select, .ant-calendar-year-panel-header .ant-calendar-year-panel-month-select
    color var(--white-800)

  .ant-calendar-month-panel
    background var(--bg-400)

  .ant-calendar-month-panel-month
    color var(--white-800)

    &:hover
      background var(--primary-900)
      color var(--white-900)

  .ant-calendar-month-panel-cell-disabled .ant-calendar-month-panel-month, .ant-calendar-month-panel-cell-disabled .ant-calendar-month-panel-month:hover
    color var(--mono-300)
    background transparent

  .ant-calendar-month-panel-header .ant-calendar-month-panel-century-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-decade-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-year-select, .ant-calendar-month-panel-header .ant-calendar-month-panel-month-select
    color var(--white-800)

  .ant-calendar-month-panel-selected-cell .ant-calendar-month-panel-month
    background var(--primary-900)
    border-radius 8rpx
    color var(--white-900)

  .ant-calendar-selected-day .ant-calendar-date
    background var(--primary-900)
    border-radius 8rpx

  .ant-calendar-month-panel-header
    border-bottom 1px solid var(--white-500)

  .ant-calendar-picker
    .anticon-calendar
      bg-contain('~src/assets/date-picker.svg')

      & > svg
        opacity 0

  .ant-calendar-range-picker-separator
    color var(--mono-300)

  /* select dropdown */
  .ant-select-dropdown
    background var(--bg-400)

    .ant-select-dropdown-menu-item
      color var(--white-800)

    .ant-select-dropdown-menu-item-selected
      background var(--mono-200)
      color var(--primary-900)

    .ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled)
      background var(--bg-500)

    .ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled)
      background var(--bg-500)

  /* tree-select */
  .ant-select-tree
    li
      .ant-select-tree-node-content-wrapper
        &:hover
          background-color var(--bg-500)

        &.ant-select-tree-node-selected
          background-color var(--bg-500)

      .ant-select-tree-node-selected
        // 

      .ant-select-tree-title
        color var(--white-800)

  .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected
    // dropdown menu 下拉菜单
    .ant-dropdown-button
      .ant-btn
        background var(--bg-400)
        color color var(--white-800)

      &.active
        .ant-btn
          background $blue
          border none

  .ant-dropdown-menu
    background-color var(--bg-400)
    color var(--white-800)
    max-height 90vh
    overflow auto

  .ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title
    color color var(--white-800)
    height 26px
    padding 2px 20px 2px 10px

    & > a
      color var(--white-800)

    .ant-dropdown-menu-submenu-arrow
      right 0

      .ant-dropdown-menu-submenu-arrow-icon
        color var(--white-800)

    &:hover
      color var(--primary-900)
      background var(--mono-200)

  .ant-message-notice
    .ant-message-custom-content
      color #000000

  .ant-input-group-addon
    background var(--primary-a100)
