:global
  .flex
    display flex

  .flex-con-1
    flex 1

  .tac
    text-align center

  .tal
    text-align left

  .tar
    text-align right

  .p-relative
    position relative

  .c-pointer
    cursor pointer
