html, body
  .hz-dark-antd
    --primary-900 var(--dark-primary-900)
    --primary-800 var(--dark-primary-800)
    --primary-700 var(--dark-primary-700)
    --primary-a100 var(--dark-primary-a100)
    --primary-a200 var(--dark-primary-a200)
    --primary-a300 var(--dark-primary-a300)
    // mono
    --mono-a100 var(--dark-mono-a100)
    --mono-a200 var(--dark-mono-a200)
    --mono-a300 var(--dark-mono-a300)
    --mono-a400 var(--dark-mono-a400)
    --mono-a500 var(--dark-mono-a500)
    --mono-a600 var(--dark-mono-a600)
    --mono-a900 var(--dark-mono-a900)
    --mono-m100 var(--dark-mono-m100)
    /* Background 背景色 */
    --bg-600 var(--dark-background-600)
    --bg-700 var(--dark-background-700)
    --bg-800 var(--dark-background-800)
    --bg-900 var(--dark-background-900)
    /* type 文字颜色 */
    --type-900 var(--dark-type-900)
    --type-800 var(--dark-type-800)
    --type-700 var(--dark-type-700)
    --type-600 var(--dark-type-600)
    // blue
    --blue-900 var(--dark-blue-900)
    --blue-a100 var(--dark-blue-a100)
    // orange
    --orange-900 var(--dark-orange-900)
    --orange-a100 var(--dark-orange-a100)
    // gray
    --gray-900 var(--dark-gray-900)
    --gray-a100 var(--dark-gray-a100)
    // red
    --red-a100 var(--dark-red-a100)
    --red-900 var(--dark-red-900)
    // Container (box-shadow)
    --container-c100 var(--dark-container-c100)
    --container-c200 var(--dark-container-c200)
    --container-c300 var(--dark-container-c300)
    --container-c400 var(--dark-container-c400)
    --container-c500 var(--dark-container-c500)
    // card
    --card-900 var(--dark-card-900)
    --card-800 var(--dark-card-800)
    --card-700 var(--dark-card-700)
    // green
    --green-900 var(--dark-green-900)
    --green-a100 var(--dark-green-a100)
    --nav-type-900 var(--dark-nav-type-900)
    --nav-type-800 var(--dark-nav-type-800)
    --general-type-900 var(--dark-general-type-900)
    background var(--bg-900)

  .hz-blue-antd
    --primary-900 var(--blue-primary-900)
    --primary-800 var(--blue-primary-800)
    --primary-700 var(--blue-primary-700)
    --primary-a100 var(--blue-primary-a100)
    --primary-a200 var(--blue-primary-a200)
    --primary-a300 var(--blue-primary-a300)
    // mono
    --mono-a100 var(--blue-mono-a100)
    --mono-a200 var(--blue-mono-a200)
    --mono-a300 var(--blue-mono-a300)
    --mono-a400 var(--blue-mono-a400)
    --mono-a500 var(--blue-mono-a500)
    --mono-a600 var(--blue-mono-a600)
    --mono-a900 var(--blue-mono-a900)
    --mono-m100 var(--blue-mono-m100)
    /* Background 背景色 */
    --bg-600 var(--blue-background-600)
    --bg-700 var(--blue-background-700)
    --bg-800 var(--blue-background-800)
    --bg-900 var(--blue-background-900)
    /* type 文字颜色 */
    --type-900 var(--blue-type-900)
    --type-800 var(--blue-type-800)
    --type-700 var(--blue-type-700)
    --type-600 var(--blue-type-600)
    // blue
    --blue-900 var(--blue-blue-900)
    --blue-a100 var(--blue-blue-a100)
    // orange
    --orange-900 var(--blue-orange-900)
    --orange-a100 var(--blue-orange-a100)
    // gray
    --gray-900 var(--blue-gray-900)
    --gray-a100 var(--blue-gray-a100)
    // red
    --red-a100 var(--blue-red-a100)
    --red-900 var(--blue-red-900)
    // Container (box-shadow)
    --container-c100 var(--blue-container-c100)
    --container-c200 var(--blue-container-c200)
    --container-c300 var(--blue-container-c300)
    --container-c400 var(--blue-container-c400)
    --container-c500 var(--blue-container-c500)
    // card
    --card-900 var(--blue-card-900)
    --card-800 var(--blue-card-800)
    --card-700 var(--blue-card-700)
    // green
    --green-900 var(--blue-green-900)
    --green-a100 var(--blue-green-a100)
    --nav-type-900 var(--blue-nav-type-900)
    --nav-type-800 var(--blue-nav-type-800)
    --general-type-900 var(--blue-general-type-900)
    background var(--bg-900)

  .hz-light-antd
    --primary-900 var(--light-primary-900)
    --primary-800 var(--light-primary-800)
    --primary-700 var(--light-primary-700)
    --primary-a100 var(--light-primary-a100)
    --primary-a200 var(--light-primary-a200)
    --primary-a300 var(--light-primary-a300)
    // mono
    --mono-a100 var(--light-mono-a100)
    --mono-a200 var(--light-mono-a200)
    --mono-a300 var(--light-mono-a300)
    --mono-a400 var(--light-mono-a400)
    --mono-a500 var(--light-mono-a500)
    --mono-a600 var(--light-mono-a600)
    --mono-a900 var(--light-mono-a900)
    --mono-m100 var(--light-mono-m100)
    /* Background 背景色 */
    --bg-600 var(--light-background-600)
    --bg-700 var(--light-background-700)
    --bg-800 var(--light-background-800)
    --bg-900 var(--light-background-900)
    /* type 文字颜色 */
    --type-900 var(--light-type-900)
    --type-800 var(--light-type-800)
    --type-700 var(--light-type-700)
    --type-600 var(--light-type-600)
    // blue
    --blue-900 var(--light-blue-900)
    --blue-a100 var(--light-blue-a100)
    // orange
    --orange-900 var(--light-orange-900)
    --orange-a100 var(--light-orange-a100)
    // gray
    --gray-900 var(--light-gray-900)
    --gray-a100 var(--light-gray-a100)
    // red
    --red-a100 var(--light-red-a100)
    --red-900 var(--light-red-900)
    // Container (box-shadow)
    --container-c100 var(--light-container-c100)
    --container-c200 var(--light-container-c200)
    --container-c300 var(--light-container-c300)
    --container-c400 var(--light-container-c400)
    --container-c500 var(--light-container-c500)
    // card
    --card-900 var(--light-card-900)
    --card-800 var(--light-card-800)
    --card-700 var(--light-card-700)
    // green
    --green-900 var(--light-green-900)
    --green-a100 var(--light-green-a100)
    --nav-type-900 var(--light-nav-type-900)
    --nav-type-800 var(--light-nav-type-800)
    --general-type-900 var(--light-general-type-900)
    --button-type-800 var(--light-button-type-800)
    background var(--bg-900)