/*
 * @Descripttion:
 * @version:
 * @Author: liuhaoran
 * @Date: 2021-01-15 20:43:28
 * @LastEditors: liuhaoran
 * @LastEditTime: 2021-01-22 10:30:20
 */
@import '~src/styles/_mixins.styl'

.close_icon
  display inline-block
  height 16px
  width 16px
  icon('src/assets/modal/close.svg')

.modal_layout
  .title_wrapper
    display flex
    align-items center
    font-weight 600
    font-size var(--font-size-large)
    color rgba(15, 34, 67, 0.72)
    .back_icon
      width 24px
      height 24px
      icon('src/assets/modal/back.svg')
      margin-right 24px
      cursor pointer

