:global .hz-btn
  display inline-block
  border-radius 8px
  padding 4px
  z-index 0
  position relative

  &.disabled
    opacity 0.4
    background none !important

    .btn
      cursor not-allowed
      color var(--type-800) !important

      &:before
        background none !important

      &:after
        background none !important

  &.text
    &:hover, &.active
      background none

      .btn:before
        background var(--primary-a300)

    .btn
      background none

  &.primary
    .btn
      background var(--primary-700)

  &:hover, &:active, &.active
    background radial-gradient(94.86% 145.65% at 1.87% 3.75%, #1890D3 0%, rgba(21, 128, 187, 0) 11.62%), radial-gradient(94.39% 144.93% at 2.34% 5%, #1580BB 0%, rgba(21, 128, 187, 0) 30.39%)

    .btn
      color var(--type-900)

      &:before
        content ''
        position absolute
        top -2px
        bottom -2px
        left -2px
        right -2px
        background radial-gradient(98.13% 189.87% at 1.87% 3.75%, #0BF3FC 0%, #158CB9 33.51%, #15B1BC 100%)
        border-radius 8px
        content ''
        z-index -1

  &.active, &:active
    .btn:after
      content ''
      position absolute
      top -2px
      bottom -2px
      left -2px
      right -2px
      background var(--type-600)
      background-blend-mode overlay
      border-radius 8px
      content ''
      z-index 1

  .btn
    display inline-block
    color var(--type-800)
    font-size var(--font-size-medium)
    font-weight bold
    height 36px
    padding 0 16px
    background var(--primary-a300)
    border-radius 6px
    position relative
    border none
    outline none
    cursor pointer

    &.large
      height 40px