@import '~src/styles/_mixins.styl'

:global
  // .hz-antd
  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner
      color var(--primary-900)

      &::before
        border 1px solid var(--primary-900)
        border-radius 8px

  .ant-picker
    background var(--mono-a300)
    border-radius 4px 4px 0px 0px
    border none

    input::-webkit-input-placeholder
      /* WebKit browsers */
      color var(--type-600)

    input:-moz-placeholder
      /* Mozilla Firefox 4 to 18 */
      color var(--type-600)

    input::-moz-placeholder
      /* Mozilla Firefox 19+ */
      color var(--type-600)

    input:-ms-input-placeholder
      /* Internet Explorer 10+ */
      color var(--type-600)

    &:hover
      background var(--mono-a200)

    .ant-picker-suffix
      color var(--type-700)

    .ant-picker-range .ant-picker-active-bar
      background var(--primary-900)

  .ant-picker-cell .ant-picker-cell-inner
    border-radius 8px !important

  .ant-picker-focused
    box-shadow none

  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner
    background var(--primary-900)

  .ant-picker-cell-in-view.ant-picker-cell-in-range::before
    background var(--primary-a200)

  .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner, .ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner
    color #fff

  .ant-picker-ranges .ant-picker-preset > .ant-tag-blue
    color var(--type-800)
    background transparent
    border-color var(--mono-a500)
    border-radius 6px

  .ant-picker-focused
    background var(--mono-a300)

  .ant-picker:hover, .ant-picker-focused
    border-color transparent

  // steps
  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-icon
    background var(--primary-900)

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title
    color var(--type-900)
    font-size var(--font-size-big)

  .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description
    color var(--type-800)
    font-size var(--font-size-normal)

  .ant-steps-item-subtitle, .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description, .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-description
    color var(--type-700)
    font-size var(--font-size-normal)

  .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title
    color var(--type-700)
    font-size var(--font-size-big)

  .ant-steps-horizontal:not(.ant-steps-label-vertical) .ant-steps-item:first-child
    .ant-steps-item-icon
      icon('~src/assets/finished-big.svg')
      border-color transparent

    .ant-steps-icon
      display none

  /* tag标签 */
  .ant-tag
    border 1px solid var(--mono-a500)
    background transparent
    color var(--type-800)
    font-size var(--font-size-normal)
    height 26px
    border-radius 16px
    line-height 26px

    .ant-tag-close-icon
      display inline-block
      width 16px
      height 16px
      line-height 16px

    &:hover
      border 1px solid var(--primary-900)
      opacity 1

      .ant-tag-close-icon
        background var(--mono-a200)
        border 2px solid var(--mono-a200)
        border-radius 8px

    &.disabled
      opacity 0.5

      &:hover
        border 1px solid var(--mono-a500)
        opacity 0.5

        .ant-tag-close-icon
          background transparent
          border none
          border-radius 8px

    // font-weight bold
    &.ant-tag-has-color
      border none
      border-radius 4px

    &.ant-tag-default
      color var(--type-700)
      border 1px solid var(--type-600)
      background transparent
      border-radius 6px

    &.ant-tag-red
      color var(--red-900)
      border 1px solid var(--red-900)
      background transparent
      border-radius 6px

    &.ant-tag-orange
      color var(--orange-900)
      border 1px solid var(--orange-900)
      background transparent
      border-radius 6px

    &.ant-tag-green
      color var(--lime-900)
      border 1px solid var(--lime-900)
      background transparent
      border-radius 6px

    &.ant-tag-blue
      color var(--primary-900)
      border 1px solid var(--primary-900)
      background transparent
      border-radius 6px

    &.ant-tag-yellow
      color var(--yellow-900)
      border 1px solid var(--yellow-900)
      background var(--yellow-a300)
      border-radius 6px

    &.ant-tag-purple
      color var(--purple-900)
      border 1px solid var(--purple-900)
      background transparent
      border-radius 6px

    // &:hover
    // border 1px solid var(--primary-900)

    // &:active
    // border 1px solid #478BFF
    .anticon-close
      color var(--type-800)

    &.small-tag
      line-height 20px
      height 20px

    &.solid-tag
      border 1px solid transparent
      border-radius 16px
      line-height 28px
      height 28px
      color var(--type-800)
      background var(--mono-a200)

      &.small-tag
        line-height 22px
        height 22px

      &:hover
        background var(--mono-a300)
        opacity 1

      &:active, &.active
        background var(--mono-a400)
        // color var(--primary-900)
        // border 1px solid var(--primary-900)

      &.disabled
        opacity 0.5

        &:hover
          border 1px solid transparent
          opacity 0.5

          .ant-tag-close-icon
            background transparent
            border none
            border-radius 8px

  /* Navigation导航栏 */
  .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after
    left 0 !important
    top 16px
    right auto
    height 8px
    border-radius 0px 3px 3px 0
    background var(--primary-900)
    border-color var(--primary-900)

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected
    background var(--primary-a100)

  .ant-menu-item-selected
    color var(--primary-900)

  .ant-menu-item:hover, .ant-menu-item-active, .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-submenu-active, .ant-menu-submenu-title:hover
    background var(--mono-a100)

  /* tooltip提示气泡 */
  .ant-tooltip-inner
    background-color var(--mono-a900)
    border-radius 4px
    font-size var(--font-size-normal)

  .white
    .ant-tooltip-inner
      color var(--type-800)

  .red
    .ant-tooltip-arrow-content
      background-color var(--red-200)

    .ant-tooltip-inner
      background-color var(--red-200)
      color var(--red-900)

  .arrow-none
    .ant-tooltip-arrow
      display none

  /* upload上传 */
  .ant-upload
    .anticon-plus
      font-size 26px
      color var(--type-700)

  .ant-upload-list-item:hover .ant-upload-list-item-info
    background-color var(--mono-a100)

  .ant-upload-list-item-info
    border-radius 8px

  .ant-upload-list-item-error, .ant-upload-list-item-error .ant-upload-text-icon > .anticon, .ant-upload-list-item-error .ant-upload-list-item-name
    color var(--red-900)

    svg
      height 13px
      width 15px
      icon('~src/assets/error_warning.svg')

      path
        display none

  .ant-upload-list-item
    height 32px

  .ant-upload-list-item-name
    color var(--type-800)

    &:hover
      color var(--type-800)

  .anticon-paper-clip
    svg
      height 13px
      width 15px
      icon('~src/assets/icons/attachment_icon.svg')

      path
        display none

  .anticon-delete
    svg
      height 13px
      width 15px
      icon('~src/assets/icons/del_icon.svg')

      path
        display none

  .ant-upload-list-item-card-actions
    button
      padding 8px 9px !important
      height 32px !important
      width 32px !important

      &:hover
        background-color var(--mono-a100) !important

  .ant-upload.ant-upload-select-picture-card, .ant-upload.ant-upload-drag
    border none
    color var(--type-700)
    border-radius 8px
    background var(--mono-a100)

    &:hover
      background var(--mono-a200)

  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon
    svg
      // width 48px
      // height 48px
      font-size 48px

      path
        fill var(--primary-900)

  .ant-upload.ant-upload-drag .ant-upload
    padding 40px 20px

  /* dropdown */
  .ant-dropdown-menu
    padding 4px 8px
    color var(--type-800)
    box-shadow var(--container-c400)
    border-radius 8px

  .ant-dropdown-menu-item:hover, .ant-dropdown-menu-submenu-title:hover
    background-color var(--mono-a100)
    border-radius 6px
