:global
  .hz-antd
    /* badge */   
    .ant-badge-count
        background var(--red-900);
        box-shadow: inset 0px 1px 0px #FF8AA3 , inset 0px -1px 0px #FF3348; 
        min-width: 16px;
        height: 16px;
        line-height: 16px;
        box-sizing: border-box;
        padding: 0px 4.5px;
        text-align: center;
        top: 4px;
        .ant-scroll-number-only-unit
            font-style: normal;
            font-weight: bold;
            font-size: 10px; 
            text-align: center;
            margin: 0px -1px;
    .ant-badge-status-error   
        background var(--red-900);;
        box-shadow: inset 0px 1px 0px #FF8AA3 , inset 0px -1px 0px #FF3348; 
    .head-example
        display: block
        width: 40px;    
        height: 40px;
        background: rgba(15, 34, 67, 0.11);
        border-radius: 4px;
    .ant-badge-dot
        background var(--red-900);;
        box-shadow: inset 0px 1px 0px #FF8AA3 , inset 0px -1px 0px #FF3348;  
        border-radius: 8px;