:global
  .hz-antd
    /* input prefix and  suffix */
    .ant-input-affix-wrapper
      padding 0
      border none
      position relative

      &.ant-input-affix-wrapper-focused
        box-shadow none

        & + .ant-input-group-addon
          left 0 !important
          transform translateX(0)

      &.ant-input-affix-wrapper-disabled
        background none

        .ant-input-prefix, .ant-input-suffix
          color var(--type-600)

      &.has-error
        .ant-input
          box-shadow inset 0px -1px 0px var(--red-900)
          color var(--red-900)
          background var(--red-a100)

          &:hover
            background var(--red-a100)

          &:focus
            background var(--red-a100)
            box-shadow inset 0px -1px 0px var(--red-900)

      &:focus
        box-shadow none

      .ant-input
        &:focus
          box-shadow inset 0px -2px 0px var(--primary-900)

      .ant-input
        padding 0 32px 0 8px

      .ant-input-prefix
        position absolute
        top 0
        bottom 0
        margin-right 0
        padding 0 10px
        color var(--type-700)
        z-index 1

        & + .ant-input
          padding 0 8px 0 32px

      .ant-input-suffix
        position absolute
        top 0
        bottom 0
        right 0
        margin-right 0
        padding 0 10px
        color var(--type-700)
        z-index 1

    /* input.search */
    .ant-input-wrapper
      position relative

      .ant-input
        padding-left 28px

        &::placeholder
          color transparent

        &:focus
          &::placeholder
            color var(--type-600)

        &:focus + .ant-input-group-addon
          left 0 !important
          transform translateX(0)

      .ant-input-group-addon
        position absolute
        left 50% !important
        top 0
        transform translateX(-50%)
        background-color transparent
        width 30px
        z-index 1

        .ant-btn
          border none
          background-color transparent
          color var(--type-800)
          padding 0 4px

          &:hover, &:focus, &:active
            background-color transparent

          &:focus
            color var(--type-900)

    /* error */
    .ant-form-item-has-error
      .ant-input
        box-shadow inset 0px -1px 0px var(--red-900)
        color var(--red-900)
        background var(--red-a100)

        &:hover
          background var(--red-a100)

        &:focus
          background var(--red-a100)

    /* input */
    .ant-input, .ant-select, .ant-input-number, .ant-mentions > textarea
      background var(--mono-a100)
      height 32px
      padding 0 8px
      border none
      font-size var(--font-size-big)
      border-radius 4px 4px 0px 0px
      box-shadow inset 0px -1px 0px var(--mono-a300)
      color var(--type-800)

      &::placeholder
        color var(--type-600)

      &.ant-input-sm, &.ant-select-sm
        font-size var(--font-size-normal)
        height 28px

      &:hover
        background var(--mono-a200)

      &:focus
        background var(--mono-a300)
        box-shadow inset 0px -2px 0px var(--primary-900)
        color var(--type-900)

      &[disabled]
        background var(--mono-a100)

      &.has-error
        box-shadow inset 0px -1px 0px var(--red-900)
        color var(--red-900)
        background var(--red-a100)

        &:hover
          background var(--red-a100)

        &:focus
          background var(--red-a100)

    .ant-input-number-handler-wrap
      border-left 1px solid var(--mono-400)

    .ant-input-number-handler-down
      border-top 1px solid var(--mono-400)

    .ant-mentions
      background-color var(--mono-a100)
      border none

    .ant-input-number-handler-wrap
      background transparent

    .ant-input-disabled, .ant-select-disabled, .ant-input-number-disabled, .ant-cascader-picker-disabled
      opacity 0.5
      border-radius 4px 4px 0px 0px
      color var(--type-800)

    .ant-input-search-icon
      color var(--type-700)

    .ant-input-number
      height auto
      width 100%

    /* -------- select ------------ */
    .ant-select
      width 100%
      background var(--mono-a100)
      height 32px
      padding 0 8px
      border none
      font-size var(--font-size-normal)
      border-radius 4px 4px 0px 0px
      box-shadow inset 0px -1px 0px var(--mono-a300)
      // border-bottom 1px solid var(--mono-a300)
      color var(--type-800)

      &::placeholder
        color var(--type-600)

      &.ant-select-sm
        font-size var(--font-size-normal)
        height 28px

        .ant-select-selection-item
          line-height 28px !important

      &.ant-select-open:hover
        box-shadow none

      &:hover
        background var(--mono-a200)

      &:focus
        background var(--mono-a300)
        box-shadow inset 0px -2px 0px var(--primary-900)
        color var(--type-900)

      &[disabled]
        background var(--mono-a100)

      &.has-error
        box-shadow inset 0px -1px 0px var(--red-900)
        color var(--red-900)
        background var(--red-a100)

        &:hover
          background var(--red-a100)

        &:focus
          background var(--red-a100)

      &.ant-select-multiple
        height auto

        .ant-select-selection-item
          background-color var(--bg-200)
          border 1px solid var(--mono-a500)
          color var(--type-800)
          border-radius 16px

      .ant-select-selector
        background none
        border none
        box-shadow none !important

      .ant-select-arrow
        color var(--type-700)
        top 46%
        width 16px
        height 16px

        .anticon
          width 16px
          height 16px
          bg-contain('~src/assets/icons/down-arrow.svg')

          & > svg
            display none

    .ant-select-single.ant-select-sm:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder
      line-height 28px

    .ant-select-open
      background var(--mono-a300)
      box-shadow inset 0px -2px 0px var(--primary-900)

      &:hover
        background var(--mono-a300)
        box-shadow inset 0px -2px 0px var(--primary-900)

      .ant-select-arrow
        transform rotate(180deg)

      .ant-select-selection-item
        color var(--type-800)

    .ant-select .ant-select-selection
      border none
      background var(--primary-a100)
      height 36px
      line-height 36px

      .ant-select-arrow
        color var(--type-700)
        bg-contain('~src/assets/icons/down-arrow.svg')
        transition 0.5s

        .anticon-down
          opacity 0

    .ant-select-selection__rendered
      line-height 36px
      color var(--type-800)

    .ant-select-selection--multiple
      .ant-select-selection__choice
        color var(--type-800)
        background var(--bg-300)
        border 1px solid var(--mono-400)

      .ant-select-selection__choice__remove
        color var(--type-700)

    /* -------------- checkbox ---------------------- */
    .ant-checkbox-wrapper
      color var(--type-800)

    .ant-checkbox-inner, .ant-tree-checkbox-inner
      border-color var(--icon-color)
      width 13px
      height 13px
      border-radius 3px

    .ant-checkbox-checked .ant-checkbox-inner
      background-color var(--primary-900)
      border-color var(--primary-900)

    .ant-checkbox, .ant-tree-checkbox
      color var(--type-800)

      &:before
        content ''
        position absolute
        left -6px
        right -6px
        top -6px
        bottom -6px
        border-radius 50%

      &:hover
        &:before
          background-color var(--mono-a200)

      &:focus, &:active
        &:before
          background-color var(--mono-a300)

      &.ant-checkbox-checked
        &:hover
          &:before
            background-color var(--primary-a100)

        &:focus, &:active
          &:before
            background-color var(--primary-a300)

      &.ant-checkbox-disabled, &.ant-tree-checkbox-disabled
        &:before
          content none

    /* -------------- radio ---------------------- */
    .ant-radio-wrapper
      .ant-radio
        &:before
          content ''
          position absolute
          left -6px
          right -6px
          top -6px
          bottom -6px
          border-radius 50%

        &:hover
          &:before
            background-color var(--mono-a200)

        &:focus, &:active
          &:before
            background-color var(--mono-a300)

        &.ant-radio-checked
          &:hover
            &:before
              background-color var(--primary-a100)

          &:focus, &:active
            &:before
              background-color var(--primary-a300)

        &.ant-radio-disabled
          &:before
            content none

      .ant-radio-checked
        .ant-radio-inner
          border-color var(--primary-900)
          width 16px
          height 16px
          border-width 5px

          &:after
            display none

    /* ------------------- switch  ------------------- */
    .ant-switch
      height 10px
      min-width 22px
      background var(--mono-a300)

      &:after
        width 14px
        height 14px
        border-radius 50%
        background var(--mono-600)
        top -3px

      .ant-switch-handle
        top -1px
        left -1px

        &:before
          background var(--mono-600)

        &:after
          content ''
          position absolute
          left -6px
          right -6px
          top -6px
          bottom -6px
          border-radius 50%

        &:hover
          &:after
            background var(--mono-a100)

        &:focus, &:active
          &:after
            background var(--mono-a300)

      &.ant-switch-checked
        background var(--primary-a300)

        .ant-switch-handle
          left calc(100% - 12px)

          &:before
            background-color var(--primary-900)

          &:hover
            &:after
              background var(--primary-a100)

          &:focus, &:active
            &:after
              background var(--primary-a300)

      &.ant-switch-disabled
        .ant-switch-handle:after
          content none

    /* -------------------------- 级联选择 ----------------------- */
    .ant-cascader-picker
      background var(--mono-a100)
      font-size var(--font-size-big)
      border none
      border-radius 4px 4px 0px 0px
      box-shadow inset 0px -1px 0px var(--mono-a300)
      color var(--type-800)

      &.ant-cascader-picker-disabled, &:hover
        background var(--mono-a200)

      &:focus
        background var(--mono-a300)
        box-shadow inset 0px -2px 0px var(--primary-900)
        color var(--type-900)

        .ant-cascader-input
          box-shadow none

      .anticon
        width 16px
        height 16px
        bg-contain('~src/assets/icons/down-arrow.svg')

        & > svg
          display none

      .ant-cascader-picker-clear
        background-color transparent

  /* 全局body下面 */
  body
    /* select 下拉框 */
    .ant-select-dropdown
      border-radius 8px
      box-shadow var(--container-c400)
      padding 8px

      .ant-select-item
        border-radius 6px
        color var(--type-800)
        font-size var(--font-size-normal)
        margin 1px 0

      .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
        background-color var(--mono-a100)
        color var(--type-800)

      .ant-select-item-option-active:not(.ant-select-item-option-disabled)
        background-color var(--primary-a100)
        color var(--primary-900)

    /* cascader级联 下拉框 */
    .ant-cascader-menu-item-expand .ant-cascader-menu-item-expand-icon
      top 8px

      .anticon
        width 16px
        height 16px
        bg-contain('~src/assets/icons/down-arrow.svg')
        transform rotate(-90deg)

        & > svg
          display none
