/*
 * @Descripttion:
 * @version:
 * @Author: liuhaoran
 * @Date: 2021-01-15 19:45:18
 * @LastEditors: liuhaoran
 * @LastEditTime: 2021-01-22 16:30:51
 */
:global
  .hz-antd
    .ant-modal-content
      box-shadow 0px 64px 128px rgba(15, 34, 67, 0.08), 0px 32px 64px rgba(15, 34, 67, 0.08), 0px 16px 32px rgba(15, 34, 67, 0.08), 0px 8px 16px rgba(15, 34, 67, 0.08), 0px 4px 8px rgba(15, 34, 67, 0.08), 0px 1px 3px rgba(15, 34, 67, 0.12), 0px 0px 1px rgba(15, 34, 67, 0.2)
      border-radius 8px
      overflow hidden
    .ant-modal-title
      font-size val(--font-size-big)
      line-height 20px
      font-weight 600
    .ant-modal-header
      padding 14px 24px
      border none
    .ant-modal-close-x
      height 42px
      width 42px
    .ant-modal-footer
      border none
    .ant-modal-wrap.modal_layout
      .ant-modal
        margin 0
        width 100% !important
        height 100%
        max-width none
        top 0
        padding 0
        .ant-modal-header
          height 64px
          padding 21px 24px
          box-shadow var(--light-container-c100)
        .ant-modal-content
          height 100%
          border-radius 0
          background #F8F9FF
          .ant-modal-close-x
            display none
          .ant-modal-body
            height calc(100% - 64px)
            padding 0
            padding-top 8px
