:global
  .hz-antd
    .ant-notification-notice
      padding 8px 16px
      box-shadow 0px 32px 64px rgba(15, 34, 67, 0.06), 0px 16px 32px rgba(15, 34, 67, 0.06), 0px 8px 16px rgba(15, 34, 67, 0.06), 0px 4px 8px rgba(15, 34, 67, 0.06), 0px 1px 3px rgba(15, 34, 67, 0.12), 0px 0px 1px rgba(15, 34, 67, 0.2)
      border-radius 8px
      .ant-notification-close-icon
        font-size 10px
      .ant-notification-notice-close
        top 10px
      .no_message
        .ant-notification-notice-message
          display none !important
      .ant-notification-notice-message
        line-height 28px
        font-size var(--font-size-medium)
        font-weight 600
        margin-bottom 0px
      .ant-notification-notice-description
        font-size 12px
        line-height 20px
        color rgba(21, 22, 24, 0.72)
