:global
  .hz-antd
    .ant-table-wrapper
      .ant-table
        color var(--type-800)

        .ant-table-thead > tr > th
          background-color var(--bg-100)
          color var(--type-600)
          border-color var(--mono-a300)

        .ant-table-tbody > tr.ant-table-row:hover > td
          background-color var(--mono-a100)

        .ant-table-tbody > tr > td
          border-color var(--mono-a300)

        &.ant-table-small .ant-table-thead > tr > th
          background-color var(--bg-100)

        .ant-table-row-expand-icon
          border-color var(--icon-color)
          width 13px
          height 13px
          margin-top 2px

          &:before
            top 5px
            right 2px
            left 2px

          &:after
            top 2px
            bottom 2px
            left 5px

        tr.ant-table-expanded-row
          padding 16px

          & > td
            background-color var(--bg-100)
            padding 16px

            .ant-table
              background-color var(--mono-300)
              border-radius 8px
              overflow hidden

              .ant-table-thead > tr > th
                background-color var(--mono-300)
                border-color var(--mono-a300)

                &.ant-table-small .ant-table-thead > tr > th
                  background-color var(--mono-300)
