:global
  .hz-antd
    .ant-transfer
      .ant-transfer-list
        border none
        box-shadow var(--container-c200)
        border-radius 8px

        .ant-transfer-list-header
          height 46px

        .ant-checkbox-indeterminate .ant-checkbox-inner::after
          left 50%

        .ant-input
          height 28px

      .ant-transfer-operation
        .ant-btn
          color var(--type-700)
          background-color transparent
          padding 4px
          border 1px solid var(--mono-a500)
          width 30px

          &.first-child
            margin-bottom 8px