:global
  .hz-antd
    .ant-tree
      color var(--type-800)
      font-size var(--font-size-normal)

      .ant-tree-treenode
        align-items center
        height 32px
        width 100%
        border-left 2px solid transparent

        // border-radius 6px
        // overflow hidden
        &:hover
          background-color var(--mono-a100)

        &.ant-tree-treenode-selected
          background-color var(--primary-a100)
          border-left 2px solid var(--primary-900)

          .ant-tree-node-content-wrapper.ant-tree-node-selected
            background-color transparent

          .ant-tree-title
            color var(--primary-900) !important

        .ant-tree-switcher
          line-height 32px

        .ant-tree-node-content-wrapper:hover
          background-color transparent
