@import '_button.styl'
@import '_input.styl'
@import '_pagination.styl'
@import '_modal.styl'
@import '_table.styl'
@import '_antd_lbb.styl'
@import '_transfer.styl'
@import '_tree.styl'
@import '_badge.styl'
@import '_form.styl'
@import '_tabs.styl'
@import '_menu.styl'
@import '_notifications.styl'
@import '_message.styl'

:global
  .hz-antd
    font-size var(--font-size-normal)
