.document
  .document-header
    padding 20px

  .document-container
    display flex

    .document-route
      width calc(100% - 200px)
      height calc(100vh - 70px)
      overflow auto

    .link-nav
      width 200px
      padding-left 20px
      display flex
      flex-direction column
