
.document
  background-color var(--bg-400)

  :global
    display flex

    .head-example
      width 42px
      height 42px
      border-radius 4px
      display inline-block
      vertical-align middle
      margin-left 10px

    .half
      width 50%
      padding 30px

    h3
      font-size 56px

    h6
      font-size 18px
      margin-right 10px