.delete_content
  display flex
  flex-direction column
  align-items center
  font-size var(--font-size-normal)
  color var(--light-type-800)x
  line-height 20px
  .delete_confirm_img
    width 80px
    height 80px
    margin-bottom 4px
