.hz-tabs
  display flex
  align-items center
  border-bottom 1px solid rgba(66, 136, 255, 0.2)

  :global
    li
      min-width 100px
      height 48px
      line-height 48px
      cursor pointer
      display flex
      align-items center
      justify-content center
      border-bottom 2px solid transparent
      margin 0 5px
      color var(--white-800)
      position relative

      .number
        padding 0 8px
        background var(--primary-a100)
        margin-left 7px
        height 25px
        line-height 25px
        color var(--primary-900)
        border-radius 12px

      .badge
        height 20px
        border-radius 16px
        background-color var(--red-900)
        padding 0 8px
        color var(--white-900)
        display block
        font-size 12px
        line-height 20px
        margin-left 4px
        text-align center

      & > i
        margin 5px
        width 15px
        height 15px
        display inline-block

      &.active
        color var(--white-900)

      &:hover
        color var(--white-900)
